@import '../vars';

.new-thing {
  $thing-height: 50px;
  $actions-width: 100px;

  height: $thing-height;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  .thing-content {
    float: left;
    height: $thing-height;
    width: calc(100% - #{$actions-width});

    .thing-creator {
      float: left;
      width: $row-user-width;
      margin-right: 15px;
      margin-top: 2px;
      font-style: italic;
    }

    .thing-subject {
      float: left;
      max-width: calc(100% - #{$row-user-width} - #{$row-actions-width} - #{$row-date-width});
      min-width: $row-subject-min-width;
      margin: 0 25px 0 15px;

      &:hover {
        text-decoration: underline;
      }

      a {
        float: left;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .thing-creation-time {
      float: left;
      width: $row-date-width;
      margin-top: 2px;
      font-style: italic;
    }

    .thing-text {
      max-width: 100%;
      display: inline-block;
      font-size: 17px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .thing-unread-count {
      display: inline-block;
      margin-left: 6px;
      font-size: 11px;
      color: darkgray;
    }
  }

  .thing-actions {
    float: right;
    width: $row-actions-width;

    .thing-done {
      float: right;
    }
  }

  .thing-row {
    height: 20px;
    line-height: 20px;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
