@import '../vars';

.previews-container {
  height: 100%;

  .previews-list-container {
    height: calc(100% - #{$message-box-height} - 15px);
    overflow-y: auto;
  }

  .previews-content {
    height: 100%;
  }
}