@import '../vars';

.preview-item {
  $preview-item-height: 75px;
  $row-height: 25px;
  $actions-bar-width: 170px;

  height: $preview-item-height;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px black dashed;
  }

  .preview-item-content {
    float: left;
    height: $preview-item-height;
    width: calc(100% - #{$actions-bar-width});

    .row {
      display: flex;
      flex-direction: row;
      height: $row-height;
      line-height: $row-height;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }
    }

    .preview-item-user {
      width: $row-user-width;
      font-style: italic;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }

    .preview-item-title {
      flex-grow: 1;
      width: $row-subject-min-width;
      margin: 0 25px 0 15px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      a {
        max-width: 100%;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        
        &:visited {
          color: #000;
        }

        &:link {
          color: #000;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .preview-item-status {
      width: $row-status-width;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-style: italic;
    }

    .preview-item-date {
      width: $row-date-width;
      font-style: italic;
    }

    .preview-item-text {
      max-width: 100%;
    }
  }

  .preview-item-actions {
    float: right;
    width: $actions-bar-width;
  }
}
