.follow-up-thing {
  $thing-height: 50px;
  $actions-width: 100px;

  height: $thing-height;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  .follow-up-thing-content {
    float: left;
    height: $thing-height;
    width: calc(100% - #{$actions-width});

    .follow-up-thing-to {
      float: left;
      width: 190px;
      margin-right: 15px;
      margin-top: 2px;
      font-style: italic;
    }

    .follow-up-thing-subject {
      float: left;
      font-size: 18px;
      font-weight: bold;
    }

    .follow-up-thing-creation-time {
      float: left;
      margin-left: 25px;
      margin-top: 2px;
      font-style: italic;
    }

    .follow-up-thing-body {
      font-size: 18px;
    }
  }

  .follow-up-thing-row {
    height: 20px;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
