.follow-up-thing {
  $thing-height: 50px;
  $actions-width: 100px;

  height: $thing-height;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  .follow-up-thing-content {
    float: left;
    height: $thing-height;
    width: calc(100% - #{$actions-width});

    .follow-up-thing-to {
      float: left;
      width: 190px;
      margin-right: 15px;
      margin-top: 2px;
      font-style: italic;
    }

    .follow-up-thing-subject {
      float: left;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .follow-up-thing-creation-time {
      float: left;
      margin-left: 25px;
      margin-top: 2px;
      font-style: italic;
    }

    .follow-up-thing-body {
      width: 100%;
      display: inline-block;
      font-size: 17px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .follow-up-thing-unread-count {
      display: inline-block;
      margin-left: 6px;
      font-size: 11px;
      color: darkgray;
    }
  }

  .follow-up-thing-row {
    height: 20px;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
