@import '../vars';

.new-notification {
  $notification-height: 75px;
  $actions-width: 100px;
  $status-width: 65px;

  height: $notification-height;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px black dashed;
  }

  .notification-content {
    float: left;
    height: $notification-height;
    width: calc(100% - #{$actions-width});

    .notification-creator {
      float: left;
      width: 190px;
      margin-top: 2px;
      font-style: italic;
    }

    .notification-title {
      float: left;
      max-width: calc(100% - #{$row-user-width} - #{$row-actions-width} - #{$row-date-width});
      min-width: $row-subject-min-width;
      margin: 0 25px 0 15px;

      .notification-subject {
        display: inline-block;
        float: left;
        max-width: calc(100% - #{$status-width} - 5px);
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }

      .notification-type {
        display: inline-block;
        float: left;
        width: $status-width;
        margin-left: 5px;
      }
    }

    .notification-creation-time {
      float: right;
      width: $row-date-width;
      margin-top: 2px;
      font-style: italic;
    }

    .notification-text {
      max-width: 100%;
      display: inline-block;
      float: left;
      font-size: 17px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .notification-count {
      display: inline-block;
      float: left;
      margin-left: 6px;
      font-size: 11px;
      color: darkgray;
    }
  }

  .notification-actions {
    float: right;
    width: 100px;

    .notification-do {
      float: right;
    }

    .notification-dismiss-comments {
      float: right;
    }
  }

  .notification-row {
    height: 25px;
    line-height: 25px;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
