@import '../vars';

.new-notification {
  $notification-height: 50px;
  $actions-width: 100px;

  height: $notification-height;

  &:not(:first-of-type) {
    margin-top: 15px;
  }

  .notification-content {
    float: left;
    height: $notification-height;
    width: calc(100% - #{$actions-width});

    .notification-creator {
      float: left;
      width: 190px;
      margin-top: 2px;
      font-style: italic;
    }

    .notification-subject {
      float: left;
      max-width: calc(100% - #{$row-user-width} - #{$row-actions-width} - #{$row-date-width});
      min-width: $row-subject-min-width;
      margin: 0 25px 0 15px;

      &:hover {
        text-decoration: underline;
      }

      a {
        float: left;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .notification-type {
      float: left;
      margin-left: 5px;
    }

    .notification-creation-time {
      float: left;
      width: $row-date-width;
      margin-top: 2px;
      font-style: italic;
    }

    .notification-text {
      max-width: 100%;
      display: inline-block;
      font-size: 17px;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .notification-count {
      display: inline-block;
      margin-left: 6px;
      font-size: 11px;
      color: darkgray;
    }
  }

  .notification-actions {
    float: right;
    width: 100px;

    .notification-do {
      float: right;
    }

    .notification-dismiss-comments {
      float: right;
    }
  }

  .notification-row {
    height: 20px;
    line-height: 20px;

    &:not(:last-of-type) {
      margin-bottom: 8px;
    }
  }
}
