@import '../vars';

.comment-container {
  $creator-width: 200px;
  $date-width: 120px;

  min-height: $comment-height;

  &:not(:last-of-type) {
    border-bottom: 1px black dashed;
    margin-bottom: 15px;
  }

  .comment-creator {
    float: left;
    width: $creator-width;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .comment-message {
    float: left;
    width: calc(100% - #{$creator-width} - #{$date-width} - 20px);
    margin: 0 10px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .comment-date {
    float: right;
    width: $date-width;
  }
}