@import '../vars';

.comment-container {
  $creator-width: 200px;
  $date-width: 120px;

  min-height: $comment-height;
  padding: 15px 0;

  &:not(:last-of-type) {
    border-bottom: 1px black dashed;
  }

  &.comment-unread {
    background-color: $comment-unread-color;
  }

  &.comment-read {
    transition: background-color 1s ease 0.5s;
  }

  .comment-creator {
    display: inline-block;
    width: $creator-width;
    vertical-align: top;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .comment-message {
    display: inline-block;
    width: calc(100% - #{$creator-width} - #{$date-width} - 20px);
    margin: 0 10px;
  }

  .comment-date {
    display: inline-block;
    width: $date-width;
    vertical-align: top;
  }
}