<div dir="auto">
    <div>${body}</div>
    <div style="font-family: Roboto, Arial; line-height: 1.5; letter-spacing: 0.05px; padding-top: 15px; margin-top: 15px; border-top: 1px solid #e0e0e0">
        <strong>${firstName} ${lastName}</strong> sent you a Thing from Freection! Do you want to let ${firstName} know when you're done?
        Do it from Freection <a href="https://freection.com" target="_blank">here!</a>
        <img src="${pixelUrl}?email=${email}&eventId=${eventId}" width="0" height="0" />
    </div>
</div>