.new-thing {
  &:not(:first-of-type) {
    margin-top: 15px;
  }

  .metadata-row {
    margin-bottom: 8px;
    height: 20px;
    width: 100%;

  }

  .thing-creator {
    float: left;
    width: 190px;
    margin-right: 15px;
    margin-top: 2px;
    font-style: italic;
  }

  .thing-subject {
    float: left;
    font-size: 18px;
    font-weight: bold;
  }

  .thing-creation-time {
    float: left;
    margin-left: 25px;
    margin-top: 2px;
    font-style: italic;
  }

  .thing-body {
    font-size: 18px;
  }
}