// Dimensions

$top-bar-height: 60px;
$message-box-height: 120px;
$side-bar-width: 120px;
$comment-height: 35px;

// Colors

$top-bar-color: black;
$side-bar-color: #3f3c3a;
$side-bar-active-color: #54504F;
