<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:400,500,700" rel="stylesheet">
        <!-- <link rel="stylesheet" type="text/css" href="/style.css" /> -->

        <style>
            body {
                font-family: Roboto, Arial;
                font-size: 0.875em;
            }

            strong {
                font-weight: 500;
            }

            * {
                box-sizing: border-box;
            }

            /* This is important in order to get rid of the ugly yellow highlight of webkit's auto-complete on inputs. */
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>

        <script type="text/javascript">
            window.__STATE__ = <%- JSON.stringify(state) %>
        </script>
        <script type="application/javascript" src="/bundle.js"></script>
    </body>
</html>