<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:100,400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/<%- assets.bundle.css %>" />

        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dminajjlkgaiglfccanighbpkdiojnpg">

        <style>
            body {
                font-family: Roboto, Arial;
                font-size: 0.875em;
            }

            strong {
                font-weight: 500;
            }

            * {
                box-sizing: border-box;
            }

            /* This is important in order to get rid of the ugly yellow highlight of webkit's auto-complete on inputs. */
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>

        <%if (isAnalyticsEnabled) { %>
        <!-- Begin Inspectlet Embed Code -->
        <script type="text/javascript" id="inspectletjs">
            window.__insp = window.__insp || [];
            __insp.push(['wid', 909489165]);
            (function() {
                function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
                setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
            })();
        </script>
        <!-- End Inspectlet Embed Code -->
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/s9inbvkn';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
        <% } %>

        <script type="text/javascript">
            window.__STATE__ = <%- JSON.stringify(state) %>
        </script>

        <script type="application/javascript" src="/<%- assets.bundle.js %>"></script>
    </body>
</html>