<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:100,200,300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/<%- assets.bundle.css %>" />

        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/dminajjlkgaiglfccanighbpkdiojnpg">

        <style>
            body {
                font-family: Roboto, Arial;
                font-size: 0.875em;
                min-width: 1024px;
            }

            strong {
                font-weight: 500;
            }

            * {
                box-sizing: border-box;
            }

            /* This is important in order to get rid of the ugly yellow highlight of webkit's auto-complete on inputs. */
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px white inset;
            }

            .clearfix:after {
                visibility: hidden;
                display: block;
                content: "";
                clear: both;
                height: 0;
            }

            /* A solution for styling scrollbars on webkit only. */

            ::-webkit-scrollbar {
                width: 6px;
            }

            ::-webkit-scrollbar-track {
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }

            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: darkgrey;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>

        <%if (isAnalyticsEnabled) { %>
        <!-- Begin Inspectlet Embed Code -->
        <script type="text/javascript" id="inspectletjs">
            window.__insp = window.__insp || [];
            __insp.push(['wid', 909489165]);
            (function() {
                function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
                setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
            })();
        </script>
        <!-- End Inspectlet Embed Code -->
        <!-- Begin Intecom -->
        <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/s9inbvkn';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
        <!-- End Intercom -->
        <!-- Begin FullStory -->
        <script>
            window['_fs_debug'] = false;
            window['_fs_host'] = 'www.fullstory.com';
            window['_fs_org'] = '22D1W';
            window['_fs_namespace'] = 'FS';
            (function(m,n,e,t,l,o,g,y){
                if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
                g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
                o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
                y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
                g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
                g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
                g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
                    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
                            ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
            })(window,document,window['_fs_namespace'],'script','user');
        </script>
        <!-- End FullStory -->
        <!-- Begin CustomerIO -->
        <script type="text/javascript">
            var _cio = _cio || [];

            (function() {
                var a,b,c;a=function(f){return function(){_cio.push([f].
                concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
                    "sidentify","track","page"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
                var t = document.createElement('script'),
                        s = document.getElementsByTagName('script')[0];
                t.async = true;
                t.id    = 'cio-tracker';
                t.setAttribute('data-site-id', '1fceca13eb828a5d469a');
                t.src = 'https://assets.customer.io/assets/track.js';
                s.parentNode.insertBefore(t, s);
            })();
        </script>
        <!-- End CustomerIO -->
        <% } %>

        <script type="text/javascript">
            window.__STATE__ = <%- JSON.stringify(state) %>
        </script>

        <script type="application/javascript" src="/<%- assets.bundle.js %>"></script>
    </body>
</html>