<!DOCTYPE html>
<html>
<head>
    <title>Freection Mobile</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

    <!-- Needed in order to add the mobile website as a homescreen icon in mobile, without the full URL appearing as the name. -->
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500|Roboto:100,400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/<%- assets.mobile.css %>" />

    <style>
        html {
            height: 100%;
        }

        body {
            font-family: Roboto, Arial;
            font-size: 0.875em;
            height: 100%;
        }

        strong {
            font-weight: 500;
        }

        * {
            box-sizing: border-box;
        }

        /* This is important in order to get rid of the ugly yellow highlight of webkit's auto-complete on inputs. */
        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px white inset;
        }
    </style>
</head>
<body>
    <div id="mobile-app"></div>


    <%if (isAnalyticsEnabled) { %>
    <!-- Begin FullStory -->
    <script>
        window['_fs_debug'] = false;
        window['_fs_host'] = 'www.fullstory.com';
        window['_fs_org'] = '22D1W';
        window['_fs_namespace'] = 'FS';
        (function(m,n,e,t,l,o,g,y){
            if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
            g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
            o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
            y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
            g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
            g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
            g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
                d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
                        ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
        })(window,document,window['_fs_namespace'],'script','user');
    </script>
    <!-- End FullStory -->
    <% } %>

    <script type="text/javascript">
        window.__STATE__ = <%- JSON.stringify(state) %>
    </script>

    <script type="application/javascript" src="/<%- assets.mobile.js %>"></script>
</body>
</html>