<div>
    Now that I've completed the task, notice the notifications you have in your Inbox:
    <ul>
        <li>
            A notification about the comments I wrote to you.<br/>
            You can discard it.
        </li>
        <li>
            A notification about me completing your task.<br/>
            It’s up to you to decide:<br/>
            <ol>
                <li>Re-open the task and send it back.</li>
                <li>Close it and remove it from your Follow Up.</li>
            </ol>
        </li>
    </ul>
    <br/>
    <b>Keep the best for last</b><br/>
    Now, last thing - please try to send a new task to someone in your company.<br/>
    They will get it as a regular email, and you will still see it in your Follow Up.<br/>
    Their reply will arrive to your Freection, and if they ever log in to Freection too, they will see the task in their Inbox.<br/>
    Try it now!
</div>