.preview-comment-text {
  float: left;
  display: inline-block;
  font-size: 17px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preview-comment-unread-count {
  display: inline-block;
  float: left;
  margin-left: 6px;
  font-size: 11px;
  color: darkgray;
}