<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="app"></div>

        <script type="text/javascript">
            window.__STATE__ = <%- JSON.stringify(state) %>
        </script>
        <script type="application/javascript" src="bundle.js"></script>
    </body>
</html>