@import '../vars';

.top-bar {
  height:   $top-bar-height;
  line-height: $top-bar-height;
  background-color: $top-bar-color;
  padding: 0 10px;

  .title {
    color: white;
    font-size: 25px;
  }

  .user-info {
    color: white;
    float: right;

    .logout-link {
      color: white;
    }
  }
}