@import '../vars';

.new-panel {
  $send-section-width: 60px;

  height: $new-panel-height;
  margin-top: 15px;

  .text-section {
    float: left;
    width: calc(100% - #{$send-section-width} - 10px);

    .message-recipients {
      height: 25px;
      width: 100%;
    }

    .message-text {
      height: 70px;
      width: 100%;
      margin: 15px 0 15px;
    }

    .message-subject {
      height: 25px;
      width: 100%;
    }
  }

  .send-section {
    float: left;
    width: $send-section-width;
    margin-left: 10px;
  }
}