@import '../vars';

.message-box {
  $new-selector-width: 80px;
  $send-section-width: 60px;

  height: $message-box-height;
  margin-top: 15px;

  .new-selector-container {
    height: $message-box-height;
    width: $new-selector-width;
    float: left;
    margin-right: 10px;
  }

  .text-section {
    float: left;
    width: calc(100% - #{$send-section-width} - #{$new-selector-width} - 10px - 10px);

    .message-recipients {
      height: 25px;
      width: 100%;
    }

    .message-text {
      height: 70px;
      width: 100%;
      margin: -1px 0 -1px;

      &.only {
        height: 120px;
      }
    }

    .message-subject {
      height: 25px;
      width: 100%;
    }
  }

  .send-section {
    float: left;
    width: $send-section-width;
    margin-left: 10px;

    .send-button {
      &:disabled {
        background-color: $button-disabled-color;
      }
    }
  }
}